{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "clsx"
  ],
  "endOfLine": "lf",
  "insert_final_newline": true,
  "trim_trailing_whitespace": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false
}
